@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ansley Display';
  src: url('../fonts/ansleydisplay/AnsleyDisplay.woff2') format('woff2'),
    url('../fonts/ansleydisplay/AnsleyDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
